body {
    background-color: white;
    margin: auto;
    padding: 0;
}

.container{
    display: flex;
    column-gap: 15px; /*/* "margin""/*/
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px;
}

/*/* Divs formating/*/
.contentimage {
    display: inline-block;
}

.content {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    width: "200";
    height: "100";
    border: solid 1px #1d57ad;
}

/*/* Form formating/*/
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/*/* Form User elements formating/*/
h1 {
    color:#FF725E;
    font-family: Verdana;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

label {
    color:#FF725E;
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;
}

input {
    color:#455A64;
    font-family: Verdana;
    font-size: 12px;
    line-height: 1.5;
}

button {
    border: solid 1px #FF725E;
    border-radius: 5px;
    color:#FF725E;
    background-color: #f3f4f7;
    box-shadow: 5px 5px 10px 0 #455A64;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
}


table {
    width: 60%;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

#users td, #users th {
    border: 1px solid #FF725E;
    text-align: left;
    padding: 5px;
}

#users tr:nth-child(even){background-color: #f3f4f7;}

#users tr:hover {background-color: #caccd1;}

#users th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FF725E;
    color: black;
    border-collapse: collapse;
}

.table{
    overflow-x: auto;
}

